.bubble-wrapper {
  width: 0.75rem;
  height: 0.75rem;
  margin-top: -0.25rem;
  margin-right: -0.25rem;
  margin-left: 0.25rem;
  position: absolute;
}

.red {
  background-color: var(--ion-color-danger);
}

.green {
  background-color: var(--ion-color-success);
}

.blue {
  background-color: var(--ion-color-primary);
}

.gray {
  background-color: gray;
}

.bubble {
  box-sizing: border-box;
  display: flex;
  height: 12px;
  position: relative;
  border-radius: 50%;
  width: 12px;
}
