.selectors {
  box-shadow: 0px -20px 25px -8px var(--ion-item-background);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-top: 2px solid white;
}

ion-content::part(scroll) {
  display: flex;
}
