.popup-floater {
  box-shadow: 0px -20px 25px -8px var(--ion-item-background);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-top: 2px solid var(--foreground);

  ion-input {
    --color: var(--foreground);
  }

  ion-list-header {
    cursor: pointer;
    font-weight: bold;
  }
}

ion-content::part(scroll) {
  display: flex;
}

.generic-feed-score {
  position: absolute;
  height: 100%;
  opacity: 0.2;
  min-width: 2px;
  background: var(--ion-color-dark);
}
