@use '../../upcoming-mixins';

ion-button {
  position: fixed;
  top: 80%;
  font-size: 16px;
  //noinspection CssInvalidPropertyValue
  justify-self: anchor-center;
}

app-icon {
  font-size: 24px;
}

@media (max-width: 768px) {
  ion-button {
    left: inherit;
    top: 85%;
    width: 80%;
    margin-left: 10%;
  }
}
