.generic-feed-score {
  position: absolute;
  height: 100%;
  opacity: 0.2;
  min-width: 2px;
  background: var(--ion-color-dark);
}

//.feed {
//  border-left: 3px solid var(--ion-color-success);
//}
