@import "../../../mixins";

.ion-list-header {
  font-weight: bold;
}

ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
}

ion-list:not(last-of-type) {
  padding-bottom: 10px;
}

a,
a:visited,
a:active {
  color: var(--ion-color-primary);
}

ion-input,
ion-textarea {
  --app-border-radius: 8px;
  --padding-start: 10px!important;
  --app-border-color-hover: rgba(var(--ion-color-primary-rgb), 0.6);
  @include control();
}

ion-input,
ion-select {
  --border-radius: 8px;

  &.has-focus,
  &.select-expanded {
    --border-color: rgba(var(--ion-color-primary-rgb), 1) !important;
  }

  &:not(.has-focus):hover {
    --border-color: rgba(var(--ion-color-primary-rgb), 0.6);
  }
}

ion-select {
  &::part(container) {
    width: 100%;
  }

  &::part(icon) {
    --highlight-color: rgba(var(--ion-color-primary-rgb), 1) !important;
  }
}

.filters {
  ion-select {
    margin-right: 10px;
  }

  ion-input {
    --padding-start: 10px;
  }
}
