a {
  //border-bottom: 1px solid var(--app-foreground);
  color: var(--ion-color-primary);
  text-decoration: none;

  &:visited {
    color: var(--ion-color-tertiary);
  }

  &:hover {
    //border-bottom-color: transparent;
    text-decoration: underline;
  }
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}
h3 {
  font-size: 1rem;
  line-height: 1.3rem;
}

.events {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
