ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
  background: var(--app-background);
}

ion-header {
  background: var(--app-background);
}

.day {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 14%;
  min-height: 150px;
  border: 1px solid rgba(var(--app-foreground-rgb), 0.15);
  padding: 5px;
  border-right-width: 0;
  border-bottom-width: 0;

  &:last-child {
    border-right-width: 1px;
  }

  &--real:hover {
    cursor: pointer;
    border-color: rgba(var(--ion-color-primary-rgb), 0.6);
    border-width: 1px;
  }

  &--today {
    border-color: rgba(var(--ion-color-dark-rgb), 0.6);
    border-width: 1px;
  }
  &--past {
    color: rgba(var(--ion-color-dark-rgb), 0.5);
    app-bubble {
      opacity: 0.5;
    }
  }
}

ion-datetime-button::part(time-target) {
  display: none;
}

app-bubble {
  margin-right: 15px;
}

ion-header {
  box-shadow: none;
}

aside {
  ion-checkbox {
    background: rgba(var(--color), 0.7);
    padding: 4px 8px;
    margin: 3px 0px;
    border-radius: 5px;
  }
  .tags {
    margin-top: 20px;
  }
}

.calendar {
  h2 {
    margin: 0;
  }

  .events {
    white-space: nowrap;
    overflow: hidden;
    max-width: 120px;
    text-overflow: ellipsis;
    padding: 0;
    list-style: none;

    li {
      background: rgba(var(--app-foreground-rgb), 0.2);
      padding: 1px 3px;
      margin: 3px 0px;
      border-radius: 5px;
    }
  }
}
