ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-split-pane {
  --side-width: 150px;
  --side-max-width: 150px;
}

ion-menu,
ion-menu::part(container) {
  max-width: 150px !important;
  min-width: 150px !important;
  border-width: 0;
  --background: transparent;
  ion-content,
  ion-item,
  ion-list,
  ion-menu-toggle {
    --background: transparent;
    background: transparent;
    max-width: 150px !important;
    min-width: 150px !important;
  }
}
