.title {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  max-width: 50%;
}

ion-chip {
  font-size: 0.8rem;
  line-height: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}
