ion-toolbar {
  --background: transparent;
}

ion-header {
  box-shadow: none;
}

.active-link {
  border-bottom: 2px solid var(--ion-color-dark);
}

.active {
  border-bottom: 2px solid var(--ion-color-primary);
}

ion-toolbar {
  padding-left: 5px;
  padding-right: 5px;
}

.title {
  display: flex;

  & > * {
    align-self: center;
  }
}
