@import "../untold-mixins";

ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
}

.results {
  //mark {
  //  background: var(--ion-color-primary);
  //}
  --app-focussed-search-item: rgba(var(--ion-color-medium), 0.7);

  &.in-focus {
    --app-focussed-search-item: var(--ion-color-primary);
  }
  ion-item {
    &.is-open {
      color: var(--ion-color-dark);
    }
    &.is-group {
      display: none;
      text-transform: uppercase;
      color: rgba(var(--ion-color-dark-rgb), 0.5);
      ion-label {
        font-size: x-small;
      }
    }
    &:not(.is-group) {
      color: rgba(var(--ion-color-dark-rgb), 0.7);

      &.in-focus {
        color: var(--ion-color-dark);
        --background: var(--app-focussed-search-item);
      }
    }
  }
}

.searchresult__text {
  color: rgba(var(--ion-color-dark-rgb), 0.6);
  white-space: nowrap;
  max-width: 500px;
  overflow: hidden;
  display: inline-block;
}
.searchresult__title {
  color: var(--ion-color-dark);
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  display: inline-block;
}

app-code-editor {
  display: flex;
  flex: 1;
}

mark {
  background: var(--ion-color-medium);
}

ion-searchbar {
  @include unless-control();
  --box-shadow: none;
  &.searchbar-has-focus {
    border-color: var(--app-border-color-focus);
  }
  --background: var(--app-body-background);
  background: var(--app-body-background);
  width: 500px;
  margin: auto;
}

app-code-editor {
  box-shadow: 0px 7px 46px -30px var(--ion-color-dark);
}

ion-button.active {
  --background: var(--ion-color-primary);
}
