@import "../untold-mixins";

ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
}

.results {
  width: 100%;
  min-height: 100%;
  position: absolute;

  ion-item {
    &.is-open {
      color: var(--ion-color-dark);
    }
    &.is-group {
      text-transform: uppercase;
      color: rgba(var(--ion-color-dark-rgb), 0.5);
      ion-label {
        font-size: x-small;
      }
    }
    &:not(.is-group) {
      color: rgba(var(--ion-color-dark-rgb), 0.7);

      &.in-focus {
        color: var(--ion-color-dark);
        --background: rgba(var(--ion-color-medium-rgb), 0.5);
      }
    }
  }
}

.searchresult_text {
  white-space: pre;
  max-height: 100px;
}

app-code-editor {
  display: flex;
  flex: 1;
}

ion-searchbar {
  @include unless-control();
  --box-shadow: none;
  &.searchbar-has-focus {
    border-color: var(--app-border-color-focus);
  }
  width: 500px;
  margin: auto;
}
