ion-content {
  --background: rgba(var(--background), 0.2);
  --app-border-radius: 8px;
  --font-size: 14px;
  --app-border-color-hover: rgba(var(--ion-color-primary-rgb), 0.6);
  font-size: var(--font-size);
}

@mixin round-border {
  --border-radius: var(--app-border-radius) !important;
}
@mixin control {
  @include round-border();
  --border-color: rgba(var(--ion-color-light-contrast-rgb), 0.2) !important;
  --border-width: 2px !important;

  --highlight-color-focused: var(--foreground);
  --color: var(--foreground);

  &:hover {
    --border-color: var(--app-border-color-hover) !important;
  }
  &.has-focus,
  &.select-expanded {
    --border-color: rgba(var(--ion-color-primary-rgb), 1) !important;
  }
}

ion-header {
  box-shadow: none;
  -webkit-box-shadow: none;
}

.pitch {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}
.website {
  min-height: 40vh;
  display: flex;
  flex: 1;
  //box-shadow: inset 0px 0px 5px var(--foreground);
}
app-embedded-image {
  display: flex;
  flex: 1;
}

.viewport {
  max-width: 900px;
  margin: auto;

  ion-button {
    min-height: 50px;
    height: 100%;
    margin: 0;
  }
}

ion-toolbar {
  --background: transparent;
  --border-style: none;
}

ion-item {
  --background: transparent;
  --border-style: none;
  font-size: var(--font-size);
}

.main {
  ion-button {
    min-height: 50px;
    height: 100%;
    margin: 0;
  }
}

ion-button {
  @include round-border();
}

ion-input {
  @include control();
}

ion-select {
  @include control();
  --background: rgba(var(--ion-color-medium-contrast-rgb), 0.2);
  &:not(last-child) {
    padding-right: 10px;
  }
  &::part(container) {
    width: 100%;
  }
  &::part(icon) {
    --highlight-color: rgba(var(--ion-color-primary-rgb), 1) !important;
  }
  &.has-value {
    color: var(--foreground);
  }
}

.busy-cursor {
  cursor: progress;
}

.ng-invalid {
  --border-color: var(--ion-color-danger);
  --border-width: 2px;
  --border-style: solid;
}

ion-button:not(last-child) {
  padding-right: 10px;
}

.actions {
  ion-input {
    --padding-start: 10px;
  }
  ion-select {
    min-width: 130px;

    &::part(container) {
      min-width: 100px;
    }
    &::part(label) {
      text-align: left;
    }
  }

  ion-button{
    align-self: center;
    &.ng-invalid {
      &::part(native) {
        border-color: var(--border-color);
      }
    }
    &:hover {
      &::part(native) {
        border-color: var(--border-color);
      }
    }
  }

  a,
  a:visited,
  a:active {
    color: var(--ion-color-primary);
  }
  ion-reorder-group {
    ion-item:not(last-of-type) {
      margin-bottom: 5px;
    }
  }
}
ion-radio-group {
  align-self: center;
}
ion-radio {
  padding-inline: 9px;
  &.radio-checked {
    color: var(--foreground);
  }
}

ion-accordion {
  &:first-child {
    border-top-left-radius: var(--app-border-radius);
    border-top-right-radius: var(--app-border-radius);
  }
  &:last-child {
    border-bottom-left-radius: var(--app-border-radius);
    border-bottom-right-radius: var(--app-border-radius);
  }
}

ion-accordion-group {
  border-radius: var(--app-border-radius);
  box-shadow: 0 1px 2px 1px rgba(white, 0.15);
}

.light {
  ion-card {
    --background: white;
  }
}
.dark {
  ion-card-content {
    border: 1px solid #3b3b3b;
  }
}
