[submodule "modules/nitter"]
	path = modules/nitter
	url = git@github.com:zedeus/nitter.git
[submodule "packages/server-rich-graph"]
	path = packages/server-rich-graph
	url = git@github.com:damoeb/rich-graph
