[submodule "products/rss-proxy"]
	path = products/rss-proxy
	url = git@github.com:damoeb/rss-proxy.git
[submodule "products/visual-diff"]
	path = products/visual-diff
	url = git@github.com:damoeb/visual-diff.git
