# Ignore Gradle project-specific cache directory
.gradle
bazel-*
.idea

# Ignore Gradle build output directory
build
package-lock.json
*.log
docs/inspiration
docs/network.dia
node_modules
packages/server-mgmt
build-cache
