@mixin unless-control {
  --app-border-color: rgba(var(--ion-color-medium-rgb), 0.2);
  --app-border-color-hover: rgba(var(--ion-color-primary-rgb), 0.5);
  --app-border-color-focus: rgba(var(--ion-color-primary-rgb), 1);
  border: 2px solid var(--app-border-color);

  &:hover {
    border-color: var(--app-border-color-hover);
  }
}
