@import "./untold-mixins";

ion-toolbar {
  ion-item {
    --border-style: none;
  }
}

ion-header {
  ion-select::part(icon) {
    display: none;
  }
}

ion-content::part(scroll) {
  display: flex;
}

.title {
  display: flex;
  padding-right: 15px;

  & > * {
    align-self: center;
  }
}

ion-searchbar {
  @include unless-control();
  --box-shadow: none;
  &.searchbar-has-focus {
    border-color: var(--app-border-color-focus);
  }
}
