ion-content {
  --background: rgba(var(--background), 0.2);
  --app-border-radius: 8px;
  --font-size: 14px;
  --app-border-color-hover: rgba(var(--ion-color-primary-rgb), 0.6);
  font-size: var(--font-size);
}
