@use "../upcoming-mixins";

p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: var(--ion-color-medium);
}

.sources {
  display: flex;
  flex: 1;
  app-map {
    flex: 1;
  }
  div {
    flex: 2;
  }
}

ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
}
