@import "../../../../mixins";

p {
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: var(--ion-color-medium);
}

ion-content::part(scroll) {
  display: flex;
}

h1 {
  color: var(--app-foreground);
}
