.discount-tag {
  display: inline-block;

  width: auto;
  height: 38px;
  --tag-bg: color-mix(
    in srgb,
    var(--ion-color-success) 60%,
    var(--ion-color-light)
  );

  background-color: var(--tag-bg);
  -webkit-border-radius: 3px 4px 4px 3px;
  -moz-border-radius: 3px 4px 4px 3px;
  /* This makes room for the triangle */
  margin-left: 19px;
  border-radius: 0 4px 4px 0;

  position: relative;

  color: var(--app-foreground);
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;

  padding: 0 8px 0 8px;
}

/* Makes the triangle */
.discount-tag:before {
  content: "";
  position: absolute;
  display: block;
  left: -19px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  border-right: 19px solid var(--tag-bg);
}
