@use '../../upcoming-mixins';

ul {
  display: flex;
  padding: 0;
}

li {
  flex: 1;
  text-align: center;
  display: block;

  a {
    color: rgba(var(--app-foreground-rgb), 0.5);

    &:hover {
      color: var(--app-foreground);
    }
  }
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 5px var(--ion-color-primary-shade);
  }
  50% {
    box-shadow: 0 0 10px var(--ion-color-primary-tint);
  }
  100% {
    box-shadow: 0 0 5px var(--ion-color-primary-shade);
  }
}
