@use '../../products/untold-notes/untold-mixins';

ion-content.main-content::part(scroll) {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.ion-page {
  ion-header,
  ion-content {
    --background: var(--app-body-background);
    background: var(--app-body-background);
    //--background: color-mix(in srgb, var(--app-foreground) 10%, var(--app-background) 100%);
    //background: var(--background);
  }
}

ion-header {
  box-shadow: none;
}

app-code-editor {
  display: flex;
  flex: 1;
}

.tree-node--collapsed {
  visibility: collapse;
  height: 5px;
}

mark {
  background: var(--ion-color-medium);
}

ion-searchbar {
  @include untold-mixins.unless-control();
  --box-shadow: none;

  &.searchbar-has-focus {
    border-color: var(--app-border-color-focus);
  }

  --background: var(--app-body-background);
  background: var(--app-body-background);
  margin: auto;
}

ion-button.active {
  --background: var(--ion-color-primary);
}

//.note-ref {
//  display: flex;
//  align-items: center;
//  color: var(--ion-color-medium);
//  background: var(--app-background);
//  border-top-left-radius: 8px;
//  border-top-right-radius: 8px;
//  margin-right: 5px;
//  //border-bottom: 2px solid transparent;
//
//  &.active {
//    color: var(--ion-color-dark);
//
//    //border-bottom-color: rgba(var(--ion-color-dark-rgb), 0.8);
//  }
//}

app-tree-view {
  display: flex;
  flex: 0 1 650px;
  flex-direction: column;
}

.note-tree,
.shortcuts {
  --line-color: rgba(var(--app-foreground-rgb), 0.5);

  app-bubble {
    position: absolute;
    margin-left: -20px;
    margin-top: 20px;
  }
}

.note-tree {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  display: flex;
  column-gap: 5px;
  position: relative;

  .note {
    overflow-y: auto;
  }
}

.footer-toolbar {
  display: flex;
  justify-content: center;

  .note-editor {
    background: var(--background);
    //padding-right: 15px;
    //padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 600px;
    overflow: auto;
    min-height: 500px;
    box-shadow: 0px -2px 2px 0px rgb(208, 208, 208);
    border-top: 1px solid rgba(var(--app-foreground-rgb), 0.4);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    app-code-editor {
      display: flex;
      flex: 1;
    }
  }
}

ion-accordion.accordion-expanded {
  box-shadow: none;
  //border-radius: 1rem;
  border: none;
  margin-bottom: auto;
  margin-top: auto;
}

.branch {
  display: flex;
  --maxlevel: 6;
  --line-width: 10px;
  --line-marginright: 3px;

  &[drop-active='true'] {
    --line-color: red;
  }

  .line {
    cursor: pointer;

    &:first-child {
      border-top: 2px solid var(--line-color);
    }

    border-right: 2px solid var(--line-color);
    width: var(--line-width);
    margin-top: 5px;
    margin-right: var(--line-marginright);

    &.line--collapsed {
      border-color: red;
      border-style: none;
    }

    &:hover {
      --line-color: var(--app-foreground);
    }
  }
}

.zigzag {
  width: 100%;
  --a: 90deg; /* control the angle */
  --s: 10px; /* size of the zig-zag */
  --b: 2px; /* control the thickness */

  background: var(--line-color);
  height: calc(var(--b) + var(--s) / (2 * tan(var(--a) / 2)));
  //width: 100%;
  --_g: var(--s) repeat-x
    conic-gradient(
      from calc(var(--a) / -2) at bottom,
      #0000,
      #000 1deg calc(var(--a) - 1deg),
      #0000 var(--a)
    );
  mask:
    50% calc(-1 * var(--b)) / var(--_g) exclude,
    50% / var(--_g);
}
