@import "../../../../mixins";

.limited-width-pane {
  @include limited-width-pane;
}

.section-button {
  --opacity: 0.5;
  font-size: 1rem;

  &:hover {
    --opacity: 1;
  }

  &.active {
    --background: var(--ion-item-background);
    --padding-start: 10px;
    --padding-end: 10px;
    --opacity: 1;
  }
}

.description {
  @include entity-description;
}

.actions {
  @include entity-actions;
}
