.plans {
  display: flex;
  --faint-color: #8d8d8d;
}

.plan {
  margin: 0.5rem;
  padding: 1rem;
  border: 2px solid var(--color);
  //background: var(--bg-color);
  border-radius: 0.5rem;
  line-height: 1.2rem;
  flex: 1;

  .plan__title {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .plan__action {
    ion-button {
      --color: var(--color);
      --border-color: var(--color);
    }
  }

  .plan__price {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    font-weight: bold;

    &--info {
      color: var(--faint-color);
      font-size: 1rem;
    }
  }
}

@media only screen and (min-width: 992px) {
  .plan {
    margin: 3rem;
  }
}

.features {
  max-height: 60vh;
  overflow-y: auto;
}

.feature {
  padding: 3px;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .feature__name {
    align-self: center;
  }

  .feature__title {
    white-space: nowrap;
  }

  .feature__subtitle {
    color: var(--faint-color);
    display: block;
    font-style: italic;
    white-space: nowrap;
    font-size: 0.8rem;
  }

  .feature__value {
    text-align: center;
    align-self: center;
  }
}

.feature__group {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  color: var(--faint-color);
}

ion-icon {
  font-size: 1.2rem;
  --ionicon-stroke-width: 64px;
}

sup {
  font-weight: bold;
}
