@import "../../../../mixins";

ion-input {
  --app-border-radius: 8px;
  --padding-start: 10px!important;
  --app-border-color-hover: rgba(var(--ion-color-primary-rgb), 0.6);

  @include control();

  &:hover {
    --border-color: rgba(var(--ion-color-primary-rgb), 0.8) !important;
  }
  &.has-focus {
    --border-color: rgba(var(--ion-color-primary-rgb), 1) !important;
  }
}

ion-radio {
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 5px;
}
