@import "../../../mixins";

.promo-video {
  display: flex;
  justify-content: center;
}

p,
ul {
  font-size: 1.1rem;
  letter-spacing: -0.003em;
  line-height: 32px;
  font-weight: 400;
  hyphens: auto;
  text-align: justify;
}

.url-form {
  @include search-form();
  max-width: 800px;
  border: 2px solid var(--ion-color-dark);
}

a {
  color: var(--ion-color-dark);
  &:hover {
    text-decoration: none;
  }
}
