/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "mixins";

app-bubble {
  margin-right: 35px;
}

// https://ionicframework.com/docs/layout/css-utilities#ionic-breakpoints
@media only screen and (min-width: 992px) {
  ion-modal {
    --width: 900px;
    --height: 900px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  ion-modal {
    --width: 100%;
    --height: 100%;
  }
}

@media only screen and (max-height: 768px) {
  ion-modal {
    --width: 100%;
    --height: 100%;
  }
}

//app-wizard {
//  display: flex;
//  flex: 1;
//}

.flex {
  display: flex;
  flex: 1;
  &__column {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  &__row {
    display: flex;
    flex: 1;
    flex-direction: row;
  }
}

ion-accordion {
  ion-label {
    font-size: 0.9rem;
  }
}

.accordion-group-wrapper {
  flex: 1;
  overflow-y: auto;
  position: relative;
  background: var(--ion-item-background);
}

ion-accordion-group {
  ion-grid {
    background: var(--ion-item-background);

    ion-row {
      ion-col:first-child {
        text-align: right;
        align-self: center;
      }
    }
  }
}

ion-list {
  &.grid {
    display: flex;
    ion-item {
      flex: 1;
      ion-checkbox {
        display: none;
      }
    }
  }
}

ion-item {
  &.ion-pristine {
    color: var(--ion-color-medium);
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--ion-item-background);
}

::-webkit-scrollbar-thumb {
  background: var(--ion-color-dark);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--ion-color-dark-shade);
}

.overlay {
  position: absolute;
  z-index: 100;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 100%;

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--ion-item-background);
    opacity: 0.7;
  }
}

.hidden {
  display: none !important;
}

a {
  color: var(--ion-color-dark);
  //text-decoration: none;
  cursor: pointer;
  &:hover {
    border-bottom-style: none;
    text-decoration: none;
  }
}

.dark {
  --app-background: black;
  --app-foreground: white;
  --app-background-rgb: 0, 0, 0;
  --app-foreground-rgb: 255, 255, 255;
}

.light {
  --app-background: white;
  --app-foreground: black;
  --app-background-rgb: 255, 255, 255;
  --app-foreground-rgb: 0, 0, 0;
}

.tiny-toast {
  --width: 200px;
  text-align: center;
  opacity: 0.8;
}

.limited-width-pane {
  @include limited-width-pane;
}

.medium-alert {
  --width: 70%;
}

.fatal-alert {
  background: color-mix(in srgb, var(--ion-color-danger) 50%, white);
  --background: #efefef;

  .alert-wrapper {
    border: 6px solid rgba(var(--ion-color-danger-rgb), 0.6);
    border-radius: 8px;

    .alert-button-group {
      margin-bottom: 10px;
      & > button {
        text-transform: none;
        color: var(--app-foreground);

        &.confirm-button {
          font-weight: bold;
          background: var(--ion-color-danger);
          border-radius: 10px;
        }
      }
    }
  }
}

.primary-alert {
  background: rgba(var(--ion-color-primary-rgb), 0.4);

  .alert-wrapper {
    border: 6px solid rgba(var(--ion-color-primary-rgb), 0.4);
    border-radius: 8px;

    .alert-button-group {
      margin-bottom: 10px;
      & > button {
        text-transform: none;
        color: var(--app-foreground);

        &.confirm-button {
          font-weight: bold;
          background: var(--ion-color-primary);
          border-radius: 10px;
        }
      }
    }
  }
}

.success-alert {
  background: rgba(var(--ion-color-primary-rgb), 0.4);
}
.fullscreen-modal {
  --width: 100%;
  --height: 100%;
}
.tiny-modal,
.medium-modal {
  &.tiny-modal {
    --width: 400px;
    --height: 400px;
  }
  &.medium-modal {
    --width: 500px;
    --height: 500px;
  }

  //& > * {
  //  border: 6px solid rgba(var(--ion-color-primary-rgb), 0.8);
  //  border-radius: 8px;
  //}
}

.product--untold-notes {
  &.dark {
    ion-content,
    ion-header {
      --app-background: #21252b;
      --app-body-background: #282c34;
      --ion-item-background: var(--app-body-background);
    }
  }
  &.light {
    ion-content,
    ion-header {
      --app-background: white;
      --app-body-background: white;
      --ion-item-background: var(--app-body-background);
    }
  }
}

ion-accordion.accordion-expanded {
  box-shadow: 0px 0px 17px 10px var(--ion-item-background);
  border-radius: 1rem;
  border: 2px solid rgba(var(--app-foreground-rgb), 0.4);
  margin-bottom: 10px;
  margin-top: 10px;
}

.pitch {
  font-size: 1.1rem;
  letter-spacing: -0.003em;
  line-height: 32px;
  font-weight: 400;
  hyphens: auto;
  //color: rgba(var(--app-foreground-rgb), 0.7);
  //text-align: justify;
}
