@mixin limited-width-pane {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

@mixin entity-description {
  font-size: 1rem;
  line-height: 1.5rem;
  opacity: 0.7;
}

@mixin entity-actions {
  align-self: start;
  color: var(--ion-color-medium);
  ion-button {
    //opacity: 0.9;

    &:hover {
      //opacity: 1;
      color: var(--ion-color-dark);
    }
  }
}

@mixin search-form {
  display: flex;
  justify-content: center;
  form {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 10px;

    ion-searchbar {
      text-align: left;
      flex: 1;
      --box-shadow: none;
    }
    ion-button {
      font-weight: bold;
    }
  }
}
