@mixin limited-width-pane {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
}

@mixin entity-description {
  font-size: 1rem;
  line-height: 1.5rem;
  opacity: 0.7;
}

@mixin builder-label {
  color: var(--ion-color-primary);
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 15px;
  padding-left: 15px;
}

@mixin inline-step-label {
  color: var(--ion-color-primary);
  align-self: center;
  text-transform: uppercase;
  margin-right: 5px;
  margin-left: 5px;
}

@mixin entity-actions {
  align-self: start;
  color: var(--ion-color-medium);
  ion-button {
    //opacity: 0.9;

    &:hover {
      //opacity: 1;
      color: var(--ion-color-dark);
    }
  }
}

@mixin search-form {
  display: flex;
  justify-content: center;
  form {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 10px;

    ion-searchbar {
      text-align: left;
      flex: 1;
      --box-shadow: none;
    }
    ion-button {
      font-weight: bold;
    }
  }
}

@mixin round-border {
  --border-radius: var(--app-border-radius) !important;
}

@mixin control {
  @include round-border();
  --border-color: rgba(var(--ion-color-light-contrast-rgb), 0.2) !important;
  --border-width: 2px !important;

  --highlight-color-focused: var(--foreground);
  --color: var(--foreground);

  &:hover {
    --border-color: var(--app-border-color-hover) !important;
  }
  &.has-focus,
  &.select-expanded {
    --border-color: rgba(var(--ion-color-primary-rgb), 1) !important;
  }
}
