@import "../../../mixins";

.builder-label {
  @include builder-label;
}

.embedded-website {
  background: var(--ion-item-background);
  margin-top: 20px;
}

//.fullscreen .embedded-website {
//  position: absolute;
//  top: 0;
//  margin-top: 0;
//  height: calc(100% - 20px);
//  width: 100%;
//}

app-embedded-website,
app-embedded-image {
  flex: 1;
  display: flex;
}

ion-toolbar div {
  align-self: center;
}

ion-button.error,
.ng-invalid {
  --border-color: var(--ion-color-danger);
  --border-style: solid;
  --border-width: 1px;
}

app-transform-website-to-feed {
  display: flex;
  flex: 1;
}

ion-content::part(scroll) {
  display: flex;
}

span.error {
  text-decoration: underline;
  text-decoration-color: var(--ion-color-danger);
  text-decoration-style: wavy;
}

.highlightFrame {
  border: 2px solid var(--ion-color-primary);
}

.label {
  @include inline-step-label;
}

ion-toggle {
  align-self: center;
  margin-left: 5px;
}
