.bucket {
  display: flex;
  flex: 1;
  .bucket-existing {
    flex: 1;
  }
  .bucket-create {
    max-height: 100%;
    box-shadow: 0px -20px 25px -8px var(--ion-item-background);
    ion-list {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      border-top: 2px solid white;
    }
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
.header {
  font-weight: bold;
  cursor: pointer;
}
.inactive {
  cursor: pointer !important;
  filter: grayscale(1);
  .content {
    opacity: 0.5;
  }
}
.bucket-create.inactive {
  &:hover {
    opacity: 1;
  }
}
