@import "../../../../mixins";

ion-searchbar {
  @include search-form();
  border: 2px solid var(--ion-color-dark);
  border-radius: 10px;
}

ion-item {
  --border-radius: 10px;
  margin-top: 10px;
}

p,
div,
ul {
  font-size: 1.1rem;
  letter-spacing: -0.003em;
  line-height: 32px;
  font-weight: 400;
  hyphens: auto;
  color: rgba(var(--app-foreground-rgb), 0.8);
  //text-align: justify;
}

h1,
h2 {
  color: var(--app-foreground);
}

a {
  color: var(--ion-color-primary);
  //border-bottom: 1px solid var(--ion-color-primary);
  padding-bottom: 3px;

  &:hover {
    border-bottom: none;
    text-decoration: none;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;

  ion-card {
    flex: 0 0 30%;
    filter: grayscale(1);
    border: 2px solid transparent;
    border-radius: 8px;

    &:hover {
      filter: grayscale(0);
      border-color: var(--ion-color-primary);
      color: var(--app-foreground-rgb);
    }

    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
