@mixin round-border {
  --border-radius: var(--app-border-radius) !important;
}

@mixin control {
  @include round-border();
  --border-color: rgba(var(--ion-color-light-contrast-rgb), 0.2) !important;
  --border-width: 2px !important;

  --highlight-color-focused: var(--foreground);
  --color: var(--foreground);

  &:hover {
    --border-color: var(--app-border-color-hover) !important;
  }
  &.has-focus,
  &.select-expanded {
    --border-color: rgba(var(--ion-color-primary-rgb), 1) !important;
  }
}

ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
}

form,
ion-grid,
app-embedded-image,
app-embedded-image,
.actions {
  display: flex;
  flex: 1;
  flex-direction: column;
}

ion-toolbar {
  --background: transparent;
  --border-style: none;
}

.website {
  flex: 4;
  border: 2px solid var(--border-color);

  &--pick-mode {
    --border-color: var(--ion-color-primary);
  }
}

ion-item {
  //--background: transparent;
  //--border-style: none;
  font-size: var(--font-size);
}

ion-button {
  @include round-border();
}

ion-select {
  @include control();
  --background: rgba(var(--ion-color-medium-contrast-rgb), 0.2);

  &:first-of-type {
    padding-right: 10px;
  }

  &::part(container) {
    width: 100%;
  }

  &::part(icon) {
    --highlight-color: rgba(var(--ion-color-primary-rgb), 1) !important;
  }

  &.has-value {
    color: var(--foreground);
  }
}

.busy-cursor {
  cursor: progress;
}

.ng-invalid {
  --border-color: var(--ion-color-danger);
  --border-width: 2px;
  --border-style: solid;
}

.actions {
  --app-border-radius: 8px;
  --font-size: 14px;
  --app-border-color-hover: rgba(var(--ion-color-primary-rgb), 0.6);

  ion-list {
    background: var(--background);
  }

  ion-item {
    --background: var(--background);
  }

  ion-input {
    --padding-start: 10px;
  }

  ion-select {
    min-width: 130px;
    margin-right: 10px;

    &::part(container) {
      min-width: 100px;
    }

    &::part(label) {
      text-align: left;
    }
  }

  a,
  a:visited,
  a:active {
    color: var(--ion-color-primary);
  }

  ion-button {
    align-self: center;
    height: 45px;

    &.ng-invalid {
      &::part(native) {
        border-color: var(--border-color);
      }
    }

    &:hover {
      &::part(native) {
        border-color: var(--border-color);
      }
    }
  }
}
