dl {
  dt {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  dd {
    margin: 0;
    opacity: 0.8;
  }
}

.document {
  margin-bottom: 20px;

  .content {
    max-height: 120px;
    line-height: 1.3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.02em;
    opacity: 0.8;
  }
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(var(--app-foreground-rgb), 0.4);
}

.description {
  border-radius: 8px;
  padding: 10px;
  background: rgba(var(--app-foreground-rgb), 0.1);
  margin-bottom: 20px;

  &.description--flat {
    dt,
    dd {
      display: inline;
      padding-right: 4px;
    }
  }
}
