@import "../../../mixins";

ion-toolbar {
  --opacity: 0.7;
  ion-item {
    --background: transparent;
    --border-style: none;
  }
}

.dark .reader {
  --link-color: var(--link-color-dark);
}
.light .reader {
  --link-color: var(--link-color-light);
}

ion-header {
  ion-select::part(icon) {
    display: none;
  }
}

ion-content::part(scroll) {
  display: flex;
}
