.cm-line:has(.cm-blockquote) {
  //": {paddingLeft: '1.5em'},
  background: #efefef;
  border-left: 4px solid #cccccc;
}

.cm-activeLine {
  [class*="-mark"] {
    color: blue;
  }
}

.editor-wrapper {
  --app-border-color: rgba(var(--ion-color-medium-rgb), 0.2);
  --app-border-color-hover: rgba(var(--ion-color-primary-rgb), 0.5);
  --app-border-color-focus: rgba(var(--ion-color-primary-rgb), 1);
  border: 2px solid var(--app-border-color);
  position: relative;
  overflow-y: auto;
  flex: 1;

  &:hover {
    border-color: var(--app-border-color-hover);
  }
  &:has(.cm-focused) {
    border-color: var(--app-border-color-focus);
  }
}

.editor {
  &--ctrl-pressed {
    .cm-url,
    .cm-hashtag {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
