ion-content {
  --background: rgba(var(--background), 0.2);
}

main {
  //border: 1px solid white;
  //margin: 20px;
  background: black;
  //padding: 10px 15px;
}

ion-toolbar {
  --background: transparent;
  --border-style: none;
}

ion-item {
  --background: transparent;
  --border-style: none;
}

//ion-row {
//  border-bottom: 1px solid rgba(54, 54, 54, 0.63);
//}

ion-input,
ion-select {
  --highlight-color-focused: var(--foreground);
}

.group {
  margin-top: 40px;
}
