app-embedded-image,
app-embedded-markup,
app-embedded-image > div {
  height: 100%;
  width: 100%;
  display: flex;
}

.prerender-options {
  position: absolute;
  right: 10px;
  margin-top: 10px;
  z-index: 100;
  padding: 10px;

  .prerender-options__line {
    background: rgba(var(--ion-color-medium-rgb), 0.8);
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;

    input[type="number"] {
      max-width: 70px;
    }
    input[type="checkbox"] {
      margin-right: 10px;
    }
  }
}

ion-segment-button {
  width: 75px;
}
