@import "../../../mixins";

ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
}

ion-input,
ion-textarea {
  --app-border-radius: 8px;
  --padding-start: 10px !important;
  --app-border-color-hover: rgba(var(--ion-color-primary-rgb), 0.6);
  @include control();
}

ion-input,
ion-select {
  --border-radius: 8px;
  min-height: 45px !important;

  &.has-focus,
  &.select-expanded {
    --border-color: rgba(var(--ion-color-primary-rgb), 1) !important;
  }

  &:not(.has-focus):hover {
    --border-color: rgba(var(--ion-color-primary-rgb), 0.6);
  }
}

ion-checkbox {
  &.ng-touched.ng-invalid {
    --border-color: var(--ion-color-danger);
  }
}
