ion-content::part(scroll) {
  display: flex;
  flex-direction: column;
}

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

ion-split-pane {
  --side-width: var(--sidemenu-width);
  --side-max-width: var(--sidemenu-width);
}

ion-menu,
ion-menu::part(container) {
  max-width: var(--sidemenu-width) !important;
  min-width: var(--sidemenu-width) !important;
  border-width: 0;
  --background: transparent;

  ion-content,
  ion-item,
  ion-list,
  ion-menu-toggle {
    --background: transparent;
    background: transparent;
    max-width: var(--sidemenu-width) !important;
    min-width: var(--sidemenu-width) !important;
  }
}

.version {
  display: none;
  //text-align: right;
  //font-size: small;
  //a {
  //  color: var(--ion-color-medium);
  //}
}
