.title {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  max-width: 50%;
}
.bucket-header {
  --background: transparent;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.tags {
  font-size: 0.9rem;
  margin-right: 2px;
  div {
    display: inline-block;
    margin-right: 3px;
    padding: 3px 5px;
    border-radius: 7px;
    background: var(--ion-color-step-250);
    opacity: 0.8;
  }
}

.description {
  padding-top: 5px;
}

.bucket-ref {
  opacity: 0.9;
  .bucket-header,
  .bucket-footer {
    opacity: 0.7;
  }
  &:hover {
    opacity: 1;
    .bucket-header,
    .bucket-footer {
      opacity: 1;
    }
  }
}
