@import "../../../mixins";

.url-form {
  --border-color: rgba(var(--ion-color-medium-rgb), 0.4);
  --box-shadow: none;
  --border-width: 2px;
  background: var(--background);

  margin: auto;
  border: var(--border-width) solid var(--border-color);
  border-radius: 8px;
  width: var(--width);

  ion-button {
    margin-right: 5px;
  }

  @include search-form();

  ion-searchbar {
    text-align: left;
    margin-left: 5px;
    background: var(--background);
    --box-shadow: none;
    padding-left: 0;

    input {
      padding-right: 0 !important;
    }
  }

  &:has(ion-input.has-focus) {
    --border-color: rgba(var(--ion-color-primary-rgb), 1);
  }

  &:hover {
    --border-color: rgba(var(--ion-color-primary-rgb), 0.6);
  }

  ion-input {
    --border-style: none;
  }

  //padding-right: 10px;
}
